{% extends "back/base.html" %}

{% load static %}
{% load custom_tags %}
{% load i18n %}

{% block title %}Список ключей{% endblock %}

{% block website_name %}Список ключей{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'Id' %}</th>
                <th>{% trans 'Наименование' %}</th>
                <th>{% trans 'Api Ключ' %}</th>
                <th>{% trans 'Пересоздать API ключ' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.api_key }}">{{ i.api_key }}</a></td>
                <td><a class="btn btn-danger" href="{% url 'generate_key' i.id %}" role="button" onclick="return confirm('{% trans "Вы уверены что хотите персоздать API ключ?" %}');">{% trans 'Пересоздать' %}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}